body
{
	background-color: lightblue;
	color: black;
	font-family: "Times New Roman", courier, monospace;
	font-weight: normal;
	line-height: 1.4;
    font-size: 16px;
    max-width: 36em;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;

}


h1 
{
	text-align: center;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
	text-decoration: underline;

}

h2
{
	color: #353535;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 50px;
	text-transform: uppercase;
	text-decoration: underline;

}

h3
{
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;

}

h4
{
	font-size: 16px;
	font-weight: bold;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 6px;
	text-decoration: underline;

}

p
{
	margin-top: 0;
	margin-bottom: 16px;

}

em
{
	color: red;
	display: block;
	margin-bottom: 32px;
	text-align: center;
}

ul
{

}